<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!--Listeners-->
    <listener>
        <listener-class>com.liferay.portal.kernel.spring.context.PortletContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.arcusys.learn.service.ContextListener</listener-class>
    </listener>


    <!--Api endpoints-->
    <!--NB: Api endpoint url start with '/delegate' prefix-->

    <servlet>
        <servlet-name>packages</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.lesson.LessonServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>packages</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>packages</servlet-name>
        <url-pattern>/packages/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lesson-results</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.lesson.LessonResultsServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>lesson-results</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>lesson-results</servlet-name>
        <url-pattern>/lesson-results/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>files</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.file.FileServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>files</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>files</servlet-name>
        <url-pattern>/files/*</url-pattern>
    </servlet-mapping>

    <!--Gradebook api endpoint-->
    <servlet>
        <servlet-name>gradebooks</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.grade.GradebookServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>gradebooks</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>gradebooks</servlet-name>
        <url-pattern>/gradebooks/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>teacher-grades</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.grade.TeacherGradeServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>teacher-grades</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>teacher-grades</servlet-name>
        <url-pattern>/teacher-grades/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lesson-grades</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.grade.LessonGradeServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>lesson-grades</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>lesson-grades</servlet-name>
        <url-pattern>/lesson-grades/*</url-pattern>
    </servlet-mapping>


    <!--Notification api endpoint -->
    <servlet>
        <servlet-name>notifications</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.grade.NotificationServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>notifications</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>notifications</servlet-name>
        <url-pattern>/notifications/*</url-pattern>
    </servlet-mapping>

    <!--Courses api endpoint-->
    <servlet>
        <servlet-name>courses</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.course.CourseServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>courses</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>courses</servlet-name>
        <url-pattern>/courses/*</url-pattern>
    </servlet-mapping>

    <!--User api endpoint-->
    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.user.UserServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>users</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users/*</url-pattern>
    </servlet-mapping>

    <!--Org api endpoint-->
    <servlet>
        <servlet-name>organizations</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.liferay.OrganizationServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>organizations</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>organizations</servlet-name>
        <url-pattern>/organizations/*</url-pattern>
    </servlet-mapping>

    <!--Certificate api endpoint-->
    <servlet>
        <servlet-name>certificates</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.certificate.CertificateServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>certificates</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>certificates</servlet-name>
        <url-pattern>/certificates/*</url-pattern>
    </servlet-mapping>

    <!--SlideSet api endpoint-->
    <servlet>
        <servlet-name>slide-sets</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.slides.SlideSetServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>slide-sets</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>slide-sets</servlet-name>
        <url-pattern>/slide-sets/*</url-pattern>
    </servlet-mapping>

    <!--Slide api endpoint-->
    <servlet>
        <servlet-name>slides</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.slides.SlideServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>slides</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>slides</servlet-name>
        <url-pattern>/slides/*</url-pattern>
    </servlet-mapping>

    <!--Slide api endpoint-->
    <servlet>
        <servlet-name>slide-elements</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.slides.SlideElementServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>slide-elements</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>slide-elements</servlet-name>
        <url-pattern>/slide-elements/*</url-pattern>
    </servlet-mapping>

    <!--Slide theme api endpoint-->
    <servlet>
        <servlet-name>slide-themes</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.slides.SlideThemeServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>slide-themes</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>slide-themes</servlet-name>
        <url-pattern>/slide-themes/*</url-pattern>
    </servlet-mapping>

    <!--Device api endpoint-->
    <servlet>
        <servlet-name>slidedevices</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.slides.DeviceApiServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>devices</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>slidedevices</servlet-name>
        <url-pattern>/devices/*</url-pattern>
    </servlet-mapping>

    <!--Third party selectors endpoint-->
    <servlet>
        <servlet-name>contentproviders</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.contentProvider.ContentProviderServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>content-providers</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>contentproviders</servlet-name>
        <url-pattern>/content-providers/*</url-pattern>
    </servlet-mapping>

    <!--Transcript api endpoint-->
    <servlet>
        <servlet-name>transcript</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.transcript.TranscriptServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>transcript</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>transcript</servlet-name>
        <url-pattern>/transcript/*</url-pattern>
    </servlet-mapping>

    <!--Administering api endpoint-->
    <servlet>
        <servlet-name>administering</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.admin.AdminServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>administering</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>administering</servlet-name>
        <url-pattern>/administering/*</url-pattern>
    </servlet-mapping>

    <!--content manager-->
    <servlet>
        <servlet-name>categories</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.content.CategoryServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>categories</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>categories</servlet-name>
        <url-pattern>/categories/*</url-pattern>
    </servlet-mapping>

    <!--Questions api endpoint-->
    <servlet>
        <servlet-name>questions</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.content.QuestionServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>questions</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>questions</servlet-name>
        <url-pattern>/questions/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>plaintext</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.content.PlainTextServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>plaintext</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>plaintext</servlet-name>
        <url-pattern>/plaintext/*</url-pattern>
    </servlet-mapping>

    <!--/ content manager-->

    <!-- Call liferay actions -->
    <servlet>
        <servlet-name>liferay</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.liferay.LiferayServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>liferay</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>liferay</servlet-name>
        <url-pattern>/liferay/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>manifestactivities</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.scorm.ActivitiesServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>manifestactivities</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>manifestactivities</servlet-name>
        <url-pattern>/manifestactivities/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>tags</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.TagServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>tags</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>tags</servlet-name>
        <url-pattern>/tags/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileStorageFilter</servlet-name>
        <servlet-class>com.arcusys.valamis.web.servlet.file.FileStorageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileStorageFilter</servlet-name>
        <url-pattern>/SCORMData/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>scormorganizations</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.scorm.OrganizationsServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>scormorganizations</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>scormorganizations</servlet-name>
        <url-pattern>/scormorganizations/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>rte</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.scorm.RteServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>rte</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>rte</servlet-name>
        <url-pattern>/rte/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>learning-pattern-report</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.report.LearningReportServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>learning-pattern-report</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>learning-pattern-report</servlet-name>
        <url-pattern>/learning-pattern-report/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>report</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.report.ReportServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>report</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>report</servlet-name>
        <url-pattern>/report/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sequencing</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.scorm.SequencingServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>sequencing</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>sequencing</servlet-name>
        <url-pattern>/sequencing/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>statements-api-controller</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.StatementServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>statements</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>statements-api-controller</servlet-name>
        <url-pattern>/statements/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>activityToStatement</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.ActivityToStatementServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>activityToStatement</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>activityToStatement</servlet-name>
        <url-pattern>/activityToStatement/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lrs2activity-filter-api-controller</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.social.LRSToActivitySettingServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>lrs2activity-filter-api-controller</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>lrs2activity-filter-api-controller</servlet-name>
        <url-pattern>/lrs2activity-filter-api-controller/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uri</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.URIServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>uri</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>uri</servlet-name>
        <url-pattern>/uri/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>export</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.export.ExportServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>export</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>export</servlet-name>
        <url-pattern>/export/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>proxy</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.lrsProxy.TincanProxyServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>proxy</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>proxy</servlet-name>
        <url-pattern>/proxy/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>activity-like</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.social.LikeServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>activity-like</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>activity-like</servlet-name>
        <url-pattern>/activity-like/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>activity-comment</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.social.CommentServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>activity-comment</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>activity-comment</servlet-name>
        <url-pattern>/activity-comment/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>activities</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.social.ActivityServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>activities</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>activities</servlet-name>
        <url-pattern>/activities/*</url-pattern>
    </servlet-mapping>

    <!--Dashboard api endpoint-->
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.grade.DashboardServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>dashboard</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard/*</url-pattern>
    </servlet-mapping>

    <!--Url check api endpoint-->
    <servlet>
        <servlet-name>url</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.lessonStudio.UrlServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>url</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>url</servlet-name>
        <url-pattern>/url/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!--public apis-->
    <servlet>
        <servlet-name>lessons</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.public.LessonServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>lessons</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>lessons</servlet-name>
        <url-pattern>/lessons/*</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>LTIPublic</servlet-name>
        <servlet-class>com.arcusys.valamis.web.servlet.lti.LTIPublicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LTIPublic</servlet-name>
        <url-pattern>/lti-public/*</url-pattern>
    </servlet-mapping>


    <!--Url lti endpoint-->
    <servlet>
        <servlet-name>lti</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.lti.LTIServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>lti</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>lti</servlet-name>
        <url-pattern>/lti/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lessons-settings</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.lesson.LessonsSettingsServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>lessons-settings</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>lessons-settings</servlet-name>
        <url-pattern>/lessons-settings/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>versions</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.valamis.web.servlet.VersionsServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>versions</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>versions</servlet-name>
        <url-pattern>/versions/*</url-pattern>
    </servlet-mapping>
</web-app>
