.bbm-wrapper {
    background: rgba(0, 0, 0, 0.75)!important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    -webkit-transition: background-color 0.3s;
}

.bbm-modal {
    background: white;
    font-family: "Ubuntu", Ubuntu, sans-serif;
}

/* BLOCKS */
.bbm-modal__topbar,
.bbm-modal__bottombar {
}

.bbm-modal__topbar {
    border-bottom: 1px solid #d3d4d5;
    position: relative;
    height: 60px;
    background: #f2f2f2;
    background: -moz-linear-gradient(top,  #f2f2f2 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e6e6e6));
    background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e6e6e6 100%);
    background: -o-linear-gradient(top,  #f2f2f2 0%,#e6e6e6 100%);
    background: -ms-linear-gradient(top,  #f2f2f2 0%,#e6e6e6 100%);
    background: linear-gradient(to bottom,  #f2f2f2 0%,#e6e6e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e6e6e6',GradientType=0 );
}

.bbm-modal__topbar > ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.bbm-modal__topbar h3 {
    margin: 0;
    padding: 20px;
    padding-right: 0;
    line-height: 20px!important;
    font-size: 16px;
    font-weight: 500;
}

.bbm-modal__tab {
    display: inline-block;
    padding: 15px 10px;
}

.bbm-modal__tab a {
    font-size: 16px;
    font-weight: bold;
    color: #999999;
}

.bbm-modal__tab a:hover, .bbm-modal__tab a.active {
    color: #222222;
}

.bbm-modal__title {
    padding: 10px 0 0;
    margin: 0;
    font-weight: normal;
    font-size: 22px;
    line-height: 1em;
    color: #312d3a;
    line-height: 40px;
}

.bbm-modal__section {
    margin-top: 0px;
    /*font-size: 16px;*/
    /*line-height: 26px;*/
    /*color: #2c2c2c;*/
    position: relative;
}

.bbm-modal__section p {
    font-size: 16px;
    line-height: 26px;
    color: #2c2c2c;
}

.bbm-modal__section p:last-child {
    padding: 0;
    margin-bottom: 0;
}

/*.bbm-modal__section a {*/
    /*color: #ff643c;*/
/*}*/

.bbm-modal h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
}

.bbm-modal .page-content-wrapper.padded {
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bbm-modal .sidebar-wrapper h3 {
    margin-bottom: 20px;
}

.bbm-modal__bottombar {
    border-top: 1px solid #d3d4d5;
    text-align: right;
    padding: 20px;
    margin-top: 0px;
}

.bbm-modal .sidebar-wrapper {
    background-color: #f4f4f4;
}

/* please do it another way */
/*.button.valamis:last-child {*/
    /*margin-right: 0px !important;*/
/*}*/

/* MODULES */
.bbm-group {
    content: "";
    display: table;
    clear: both;
}

.bbm-button {
    display: inline-block;
    color: rgba(49, 45, 58, 0.8);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    line-height: 1em;
    padding: 10px 14px;
    border-radius: 3px;
    background: #fcfcfc;
    background-image: -o-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.15) 100%);
    background-image: -moz-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.15) 100%);
    background-image: -webkit-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.15) 100%);
    background-image: -ms-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.15) 100%);
    background-image: linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.15) 100%);
}

.bbm-button.inactive {
    opacity: 0.5;
    pointer-events: none;
}

.bbm-button:active {
    background-image: -o-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.25) 100%);
    background-image: -moz-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.25) 100%);
    background-image: -webkit-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.25) 100%);
    background-image: -ms-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.25) 100%);
    background-image: linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.25) 100%);
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

/* ANIMATIONS */
/* Open modal */
@-webkit-keyframes bbm-open {
    0% {
        opacity: 0.1259;
    }

    4% {
        opacity: 0.29544;
    }

    8% {
        opacity: 0.46703;
    }

    12% {
        opacity: 0.61908;
    }

    16% {
        opacity: 0.74284;
    }

    20% {
        opacity: 0.83724;
    }

    24% {
        opacity: 0.90523;
    }

    28% {
        opacity: 0.9515;
    }

    32% {
        opacity: 0.98107;
    }

    36% {
        opacity: 0.99852;
    }

    40% {
        opacity: 1.00766;
    }

    44% {
        opacity: 1.01143;
    }

    48% {
        opacity: 1.01199;
    }

    52% {
        opacity: 1.01084;
    }

    56% {
        opacity: 1.00895;
    }

    60% {
        opacity: 1.0069;
    }

    64% {
        opacity: 1.00503;
    }

    68% {
        opacity: 1.00346;
    }

    72% {
        opacity: 1.00224;
    }

    76% {
        opacity: 1.00134;
    }

    80% {
        opacity: 1.00072;
    }

    84% {
        opacity: 1.00032;
    }

    88% {
        opacity: 1.00007;
    }

    92% {
        opacity: 0.99994;
    }

    96% {
        opacity: 0.99988;
    }

    100% {
        opacity: 1;
    }
}

.bbm-modal--open {
    -webkit-animation-duration: 0.3s;
    -webkit-animation-name: bbm-open;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    -webkit-transform-origin: 50% 50%;
    -webkit-backface-visibility: hidden;
}

/* Open a stacked modal */
@-webkit-keyframes bbm-stacked {
    0% {
        opacity: 0.93705;
    }

    4% {
        opacity: 0.85228;
    }

    8% {
        opacity: 0.76648;
    }

    12% {
        opacity: 0.69046;
    }

    16% {
        opacity: 0.62858;
    }

    20% {
        opacity: 0.58138;
    }

    24% {
        opacity: 0.54739;
    }

    28% {
        opacity: 0.52425;
    }

    32% {
        opacity: 0.50946;
    }

    36% {
        opacity: 0.50074;
    }

    40% {
        opacity: 0.49617;
    }

    44% {
        opacity: 0.49429;
    }

    48% {
        opacity: 0.494;
    }

    52% {
        opacity: 0.49458;
    }

    56% {
        opacity: 0.49553;
    }

    60% {
        opacity: 0.49655;
    }

    64% {
        opacity: 0.49749;
    }

    68% {
        opacity: 0.49827;
    }

    72% {
        opacity: 0.49888;
    }

    76% {
        opacity: 0.49933;
    }

    80% {
        opacity: 0.49964;
    }

    84% {
        opacity: 0.49984;
    }

    88% {
        opacity: 0.49996;
    }

    92% {
        opacity: 0.50003;
    }

    96% {
        opacity: 0.50006;
    }

    100% {
        opacity: 0.5;
    }
}

.bbm-modal--stacked {
    -webkit-animation-duration: 0.43333s;
    -webkit-animation-name: bbm-stacked;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    -webkit-transform-origin: 50% 50%;
    -webkit-backface-visibility: hidden;
}

/* Close a stacked modal */
@-webkit-keyframes bbm-stacked-reverse {
    0% {
        opacity: 0.56162;
    }

    4% {
        opacity: 0.64665;
    }

    8% {
        opacity: 0.7327;
    }

    12% {
        opacity: 0.80896;
    }

    16% {
        opacity: 0.87103;
    }

    20% {
        opacity: 0.91837;
    }

    24% {
        opacity: 0.95247;
    }

    28% {
        opacity: 0.97568;
    }

    32% {
        opacity: 0.99051;
    }

    36% {
        opacity: 0.99926;
    }

    40% {
        opacity: 1.00384;
    }

    44% {
        opacity: 1.00573;
    }

    48% {
        opacity: 1.00601;
    }

    52% {
        opacity: 1.00544;
    }

    56% {
        opacity: 1.00449;
    }

    60% {
        opacity: 1.00346;
    }

    64% {
        opacity: 1.00252;
    }

    68% {
        opacity: 1.00173;
    }

    72% {
        opacity: 1.00112;
    }

    76% {
        opacity: 1.00067;
    }

    80% {
        opacity: 1.00036;
    }

    84% {
        opacity: 1.00016;
    }

    88% {
        opacity: 1.00004;
    }

    92% {
        opacity: 0.99997;
    }

    96% {
        opacity: 0.99994;
    }

    100% {
        opacity: 1;
    }
}

.bbm-modal--stacked-reverse {
    -webkit-animation-duration: 0.43333s;
    -webkit-animation-name: bbm-stacked-reverse;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    -webkit-transform-origin: 50% 50%;
    -webkit-backface-visibility: hidden;
}

/* Close a modal */
@-webkit-keyframes bbm-close {
    0% {
        opacity: 0.8741;
    }

    4% {
        opacity: 0.70456;
    }

    8% {
        opacity: 0.53297;
    }

    12% {
        opacity: 0.38092;
    }

    16% {
        opacity: 0.25716;
    }

    20% {
        opacity: 0.16276;
    }

    24% {
        opacity: 0.09477;
    }

    28% {
        opacity: 0.0485;
    }

    32% {
        opacity: 0.01893;
    }

    36% {
        opacity: 0.00148;
    }

    40% {
        opacity: -0.00766;
    }

    44% {
        opacity: -0.01143;
    }

    48% {
        opacity: -0.01199;
    }

    52% {
        opacity: -0.01084;
    }

    56% {
        opacity: -0.00895;
    }

    60% {
        opacity: -0.0069;
    }

    64% {
        opacity: -0.00503;
    }

    68% {
        opacity: -0.00346;
    }

    72% {
        opacity: -0.00224;
    }

    76% {
        opacity: -0.00134;
    }

    80% {
        opacity: -0.00072;
    }

    84% {
        opacity: -0.00032;
    }

    88% {
        opacity: -7 e -5;
    }

    92% {
        opacity: 6.0 e-05;
    }

    96% {
        opacity: 0.00012;
    }

    100% {
        opacity: 0;
    }
}

.bbm-modal--close {
    -webkit-animation-duration: 0.43333s;
    -webkit-animation-name: bbm-close;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    -webkit-transform-origin: 50% 50%;
    -webkit-backface-visibility: hidden;
}



.bbm-modal .info-div table,
.bbm-modal .info-div table td {
    border-top: none!important;
}

.bbm-modal .info-div table {
    border-bottom: 0px!important;
}

.content-manager .bbm-modal .filter-panel.sidebar-wrapper {
    border-right: 3px solid #d3d4d5;
}

.content-manager .bbm-modal .filter-panel.sidebar-wrapper h3 {
    margin-left: 20px;
    margin-bottom: 20px;
}

.popup-content-header {
    padding: 20px;
    margin: 0;
}

