<script type="text/template" id="valamisAppLayoutTemplate">
    <div id="valamisAppModalRegion" class="portlet-body"></div>
</script>


<script type="text/template" id="valamisAppModalTemplate">
    <div class="bbm-modal__topbar" style="margin-bottom: 0px;">
        <h3 class="bbm-modal__title">{{header}}</h3>

        <div class="modal-close val-icon-exit"></div>
    </div>
    <div class="bbm-modal__section modal-content">

    </div>
</script>

<script type="text/template" id="valamisAppArrowModalTemplate">
    <span class="val-icon-exit modal-close"></span>
    <div class="modal-content">
    </div>
</script>

<script type="text/template" id="valamisConfirmationTemplate">
    <div class="confirmation-question">{{message}}</div>
    <div>
        <button class='js-confirmation confirmation btn-primary'>{{yesLabel}}</button>
        {{#showDontSaveButton}}
        <button class="js-decline decline btn-primary">{{dontSaveLabel}}</button>
        {{/showDontSaveButton}}
        <button>{{cancelLabel}}</button>
    </div>
</script>

<!-- image gallery templates -->

<script type="text/html" id="liferayGalleryElementView">
    <div class="thumbnail-item shift-left clearfix">
        <span class="image-thumbnail">
            <img alt="welcome_community - " border="no" src="{{imageUrl}}">
        </span>
        <span class="image-title">{{title}}</span>
    </div>
</script>

<script type="text/html" id="liferayImageGalleryDialogView">
    <div class="val-row filters-row js-gallery-filter-toolbar">
        <div class="filter-element shift-left">
            <div class="val-search js-search">
                <input type="text" placeholder="{{searchPlaceholderLabel}}" id="gallerySearch"/>
            </div>
        </div>
        <div class="filter-element paging-showing-label shift-left" id="galeryPagingShowing"></div>

        <div class="dropdown filter-element shift-right js-sorting" data-value="true" id="sortGallery">
            <button class="button medium simple ">
                <span class="dropdown-text"> {{byNameAscLabel}} </span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu" name="sort">
                <li class="selected" data-value="true"> {{byNameAscLabel}} </li>
                <li data-value="false"> {{byNameDescLabel}} </li>
            </ul>
        </div>
    </div>

    <div id="galleryContainer" class="thumbnail-container clearfix js-gallery-modal-container"></div>
    <div class="val-paginator" id="galleryPaginator"></div>
</script>

<!-- liferay site select dialog templates -->

<script type="text/html" id="liferaySiteElementView">
    <td class="narrow-col">
        <input type="checkbox" id="toggleItem_{{id}}" name="check" class="val-checkbox js-select-item"/>
        <label class="checkbox-label" for="toggleItem_{{id}}"></label>
    </td>
    <td class="title">{{title}}</td>
</script>

<script type="text/html" id="liferaySiteDialogToolbar">
    <div class="filters-row clearfix">
        <div class="filter-element shift-left">
            <div class="val-search js-search">
                <input type="text" id="siteSearch" class="js-site-search" placeholder="{{searchPlaceholderLabel}}" />
            </div>
        </div>
        <div class="filter-element paging-showing-label shift-left" id="siteListPagingShowing"></div>
        <div id="sortSite" class="js-site-sort dropdown filter-element shift-right" data-value="true">
            <button class="button medium simple">
                <span class="dropdown-text">{{byNameAscLabel}}</span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="selected" data-value="true"> {{byNameAscLabel}} </li>
                <li data-value="false"> {{byNameDescLabel}} </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/html" id="liferaySiteDialogLayout">

    <div id="liferaySiteSelectToolbarRegion"></div>

    <div class="val-table-wrapper">
        <table class="val-table" id="liferaySiteSelectListRegion">
            <tbody id="siteList" class="js-site-list"></tbody>
        </table>
    </div>

    <div class="val-paginator" id="siteListPaginator"></div>

    {{^singleSelect}}
    <div class="bbm-modal__bottombar">
        <button class="button medium primary js-addCourses">{{addCoursesLabel}}</button>
        <button class="button medium simple modal-close">{{cancelLabel}}</button>
    </div>
    {{/singleSelect}}
</script>

<!-- lesson select dialog -->

<script type="text/template" id="lessonSelectLayoutViewTemplate">
    <div id="lessonsListToolbar"></div>
    <div id="lessonsList"></div>
    <div id="lessonsListPaginator" class="val-paginator"></div>

    <div class="bbm-modal__bottombar">
        <button class="button medium primary js-submit-button">{{addLessonsLabel}}</button>
        <button class="button medium simple modal-close">{{cancelLabel}}</button>
    </div>
</script>

<script type="text/template" id="lessonSelectToolbarViewTemplate">
    <div class="filters-row clearfix">
        <div class="filter-element shift-left">
            <div class="val-search js-search">
                <input type="text" placeholder="{{searchPlaceholderLabel}}">
            </div>
        </div>
        <div class="filter-element shift-left dropdown js-categories-filter" data-value="">
            <button class="button medium simple">
                <span class="dropdown-text">{{allCategoriesLabel}}</span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu edit-lesson-dropdown">
                <li class="selected" data-value="">{{allCategoriesLabel}}</li>
                {{#categories}}
                <li data-value="{{id}}">{{text}}</li>
                {{/categories}}
            </ul>
        </div>
        <div class="filter-element paging-showing-label shift-left" id="lessonsListPaginatorShowing"></div>

        <div class="filter-element shift-right dropdown js-sort-filter" data-value="name:true">
            <button class="button medium simple">
                <span class="dropdown-text">{{byNameAscLabel}}</span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="selected" data-value="name:true"> {{byNameAscLabel}} </li>
                <li data-value="name:false"> {{byNameDescLabel}} </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/template" id="lessonSelectListViewTemplate">
    <label class="valamis-info-label no-items hidden js-no-lessons-label"> {{noAvailableLessonsLabel}}</label>
    <div class="val-table-wrapper">
        <table class="val-table">
            <tbody class="js-lessons-list"></tbody>
        </table>
    </div>
</script>

<script type="text/template" id="lessonSelectListItemViewTemplate">
    <td class="narrow-col">
        <input type="checkbox" id="toggleItem_{{id}}" name="check" class="val-checkbox js-select-lesson"/>
        <label class="checkbox-label" for="toggleItem_{{id}}"></label>
    </td>
    <td class="title"> {{title}} </td>
</script>

<!-- base layout view -->

<script type="text/template" id="valamisBaseLayoutViewTemplate">
    <div id="valamisBaseToolbar"></div>
    <div id="valamisBaseList"></div>
    <div id="valamisBaseListPaginator" class="val-paginator"></div>

    {{^hideFooter}}
    <div class="bbm-modal__bottombar">
        <button class="button medium primary js-submit-button">{{addLabel}}</button>
        <button class="button medium simple modal-close">{{cancelLabel}}</button>
    </div>
    {{/hideFooter}}
</script>

<script type="text/template" id="valamisBaseToolbarViewTemplate">
    <div class="filters-row clearfix">
        <div class="filter-element shift-left">
            <div class="val-search js-search">
                <input type="text" placeholder="{{searchPlaceholderLabel}}">
            </div>
        </div>

        <div class="filter-element paging-showing-label shift-left js-paginator-showing"></div>
    </div>
    <div class="filters-row clearfix">
        {{^singleSelect}}
        <div class="filter-element shift-left">
            <button class="button medium neutral js-select-all">
                <span class="val-icon-checkmark"></span> {{selectAllLabel}}
            </button>
        </div>
        {{/singleSelect}}

        <div class="filter-element shift-right dropdown js-sort-filter" data-value="name:true">
            <button class="button medium simple">
                <span class="dropdown-text">{{byNameAscLabel}}</span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="selected" data-value="name:true"> {{byNameAscLabel}} </li>
                <li data-value="name:false"> {{byNameDescLabel}} </li>
            </ul>
        </div>
    </div>

</script>

<script type="text/template" id="valamisBaseListViewTemplate">
    <label class="valamis-info-label no-items hidden js-no-items-label"> {{noItemsLabel}} </label>
    <table class="val-table">
        <tbody class="js-items-list"></tbody>
    </table>
</script>

<script type="text/template" id="valamisBaseListItemViewTemplate">
    <td class="narrow-col">
        <input type="checkbox" id="toggleItem_{{id}}" name="check" class="val-checkbox js-select-item"/>
        <label class="checkbox-label" for="toggleItem_{{id}}"></label>
    </td>

    {{#isUser}}
    <td class="narrow-col">
        {{#picture}}
        <img src="{{picture}}" alt="{{name}}" class="img-circle">
        {{/picture}}
    </td>
    {{/isUser}}

    <td class="title"> {{name}} </td>

    <td class="narrow-col">
        <button class="button medium danger simple no-text js-delete-item">
            <span class="val-icon-trash"></span> Delete
        </button>
    </td>
</script>

<script type="text/template" id="valamisBaseSelectListItemViewTemplate">
    <td class="narrow-col">
        <input type="checkbox" id="toggleItem_{{id}}" name="check" class="val-checkbox js-select-item"/>
        <label class="checkbox-label" for="toggleItem_{{id}}"></label>
    </td>

    {{#picture}}
    <td class="narrow-col">
        <img src="{{picture}}" alt="{{name}}" class="img-circle">
    </td>
    {{/picture}}

    <td class="title"> {{name}} </td>
</script>