
<script type="text/html" id="gradebookCoursesCollectionViewTemplate">
    <div class="dropdown js-courses-list">
        <button class="button medium neutral">
            <span class="dropdown-text"></span><span class="val-icon-arrow-down val-icon-right"></span>
        </button>
        <ul class="dropdown-menu">
        {{#courses}}
            <li data-value="{{id}}">{{title}}</li>
        {{/courses}}
        </ul>
    </div>
</script>

<script type="text/html" id="gradebookBreadcrumbsTemplate">
    <div class="div-row">
        <div class="div-col text-left js-breadcrumbs-container"></div>
        <div class="div-col text-right" style="min-width: 240px; vertical-align: middle;">
            <div class="val-search js-search" style="width: 240px; display: inline-block;">
                <input type="text" placeholder="{{searchLabel}}" value="{{filterText}}">
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="gradebookBreadcrumbItemTemplate">
    <span class="val-icon-arrow-right-two js-separator"></span>
    <span class="js-section cursor-pointer">
        {{title}}
        {{#filter}} ("{{filter}}") {{/filter}}
    </span>
</script>

<script type="text/html" id="gradebookMainLayoutViewTemplate">
    <div class="clearfix tabs-header">
        <div class="s-2 js-courses-dropdown">
            &nbsp;
        </div>
        <div class="s-8">
            <ul class="nav nav-tabs" id="gradebookTabs">
                <li class="active"> <a href="#courseOverview" data-toggle="tab"> {{overviewLabel}} </a> </li>
                <li> <a href="#courseUsers" data-toggle="tab"> {{usersLabel}} </a> </li>
                <li> <a href="#courseLessons" data-toggle="tab"> {{lessonsLabel}} </a> </li>
                {{#assignmentDeployed}}
                <li> <a href="#courseAssignments" data-toggle="tab"> {{assignmentsLabel}} </a> </li>
                {{/assignmentDeployed}}
                <li> <a href="#courseGrading" data-toggle="tab"> {{gradingQueueLabel}} </a> </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div id="courseOverview" data-toggle="tab" class="tab-pane active"></div>
        <div id="courseUsers" data-toggle="tab" class="tab-pane"></div>
        <div id="courseLessons" data-toggle="tab" class="tab-pane"></div>
        {{#assignmentDeployed}}
        <div id="courseAssignments" data-toggle="tab" class="tab-pane"></div>
        {{/assignmentDeployed}}
        <div id="courseGrading" data-toggle="tab" class="tab-pane"></div>
    </div>
</script>

<script type="text/html" id="gradebookCollectionLayoutTemplate">
    <div class="clearfix breadcrumbs-row js-breadcrumbs"></div>
    <div class="collection-layout js-collection"></div>
</script>

<script type="text/html" id="gradebookOverviewViewTemplate">
    {{#id}} <div class="course-title">{{title}}</div> {{/id}}
    <div class="js-statistic overview-statistic"></div>
    <div class="js-last-grading last-grading-list"></div>
</script>

<script type="text/html" id="gradebookOverviewStatisticViewTemplate">
    <div class="overview-item">
        <div class="number">{{statistic.total}}</div>
        <div class="clearfix">
            <div>{{usersLabel}}</div>
            <div>{{assignedLabel}}</div>
        </div>
    </div>
    <div class="overview-item">
        <div class="number success">{{statistic.success}}</div>
        <div >
            <div>{{usersLabel}}</div>
            <div>{{completedLabel}}</div>
        </div>
    </div>
    <div class="overview-item">
        <div class="number inprogress">{{statistic.inProgress}}</div>
        <div>
            <div>{{usersLabel}}</div>
            <div>{{inProgressLabel}}</div>
        </div>
    </div>
    <div class="overview-item">
        <div class="number failed">{{statistic.notStarted}}</div>
        <div>
            <div>{{usersLabel}}</div>
            <div>{{notStartedLabel}}</div>
        </div>
    </div>
</script>

<script type="text/html" id="gradebookUsersCollectionViewTemplate">
    <h3> <span class="js-items-total"></span> {{usersListHeaderLabel}} {{courseName}}</h3>
    <table class="val-table js-items-list-table">
        <thead>
            <tr>
                <th>{{nameLabel}}</th>
                <th class="narrow-col">{{lastActivityLabel}}</th>
                <th class="narrow-col">{{lessonsCompleteLabel}}</th>
                <th class="narrow-col">{{notStartedLabel}}</th>
                <th class="narrow-col">{{inProgressLabel}}</th>
                <th class="narrow-col">{{courseCompleteLabel}}</th>
                <th class="narrow-col">{{totalGradeLabel}}</th>
            </tr>
        </thead>
        <tbody class="js-items-list"></tbody>
    </table>
    <div class="loading-container js-loading-container"></div>
    <div class="toggle-container hidden js-show-more">
        <span class="val-icon-arrow-down val-icon-right"></span>
        <span> {{showMoreLabel}}</span>
    </div>
</script>

<script type="text/html" id="gradebookUserItemViewTemplate">
    <td class="cursor-pointer item-info js-user-name">
        <div>
            <img class="img-circle {{#isCourseCompleted}} success {{/isCourseCompleted}}" src="{{user.picture}}" alt="{{user.name}}">
        </div>
        <div>
            <div class="item-title">{{user.name}}</div>
            <div class="item-description">{{organizationList}}</div>
        </div>
    </td>
    <td class="narrow-col">{{dateFormatted}}</td>
    <td>{{lessons.success}} / {{lessons.total}}</td>
    <td>{{#lessons.notStarted}} {{lessons.notStarted}} {{/lessons.notStarted}}</td>
    <td>{{#lessons.inProgress}} {{lessons.inProgress}} {{/lessons.inProgress}}</td>
    <td>{{courseStatus}}</td>
    <td class="js-grade-button"></td>
</script>

<script type="text/html" id="gradebookAllCoursesUsersCollectionViewTemplate">
    <h3> <span class="js-items-total"></span> {{usersListHeaderLabel}} {{courseName}}</h3>
    <table class="val-table js-items-list-table">
        <thead>
        <tr>
            <th>{{nameLabel}}</th>
            <th class="narrow-col">{{lastActivityLabel}}</th>
            <th class="narrow-col">{{lessonsCompleteLabel}}</th>
            <th class="narrow-col">{{coursesCompleteLabel}}</th>
        </tr>
        </thead>
        <tbody class="js-items-list"></tbody>
    </table>
    <div class="loading-container js-loading-container"></div>
    <div class="toggle-container hidden js-show-more">
        <span class="val-icon-arrow-down val-icon-right"></span>
        <span> {{showMoreLabel}}</span>
    </div>
</script>

<script type="text/html" id="gradebookAllCoursesUserItemViewTemplate">
    <td class="cursor-pointer item-info js-user-name">
        <div>
            <img class="img-circle {{#isCourseCompleted}} success {{/isCourseCompleted}}" src="{{user.picture}}" alt="{{user.name}}">
        </div>
        <div>
            <div class="item-title">{{user.name}}</div>
            <div class="item-description">{{organizationList}}</div>
        </div>
    </td>
    <td class="narrow-col">{{dateFormatted}}</td>
    <td>{{lessons.success}} / {{lessons.total}}</td>
    <td>{{courses.success}} / {{courses.total}}</td>
</script>

<script type="text/html" id="gradebookLessonsCollectionViewTemplate">
    <h3> <span class="js-items-total"></span> {{lessonsListHeaderLabel}} {{courseName}}</h3>
    <table class="val-table js-items-list-table">
        <thead>
        <tr>
            <th>{{nameLabel}}</th>
            <th class="narrow-col">{{usersLabel}}</th>
            <th class="narrow-col">{{notStartedLabel}}</th>
            <th class="narrow-col">{{inProgressLabel}}</th>
            <th class="narrow-col">{{completedLabel}}</th>
            <th class="narrow-col">{{averageLabel}}</th>
        </tr>
        </thead>
        <tbody class="js-items-list"></tbody>
    </table>
    <div class="loading-container js-loading-container"></div>
    <div class="toggle-container hidden js-show-more">
        <span class="val-icon-arrow-down val-icon-right"></span>
        <span> {{showMoreLabel}}</span>
    </div>
</script>

<script type="text/html" id="gradebookLessonItemViewTemplate">
    <td class="cursor-pointer item-info js-lesson-name">
        <div>
            <div class="image img-rect"
                 {{#lesson.logo}}
                 style="background-image: url('/{{imageApi}}{{lesson.id}}/logo?courseId={{courseId}}')"
                 {{/lesson.logo}}
            ></div>
        </div>
        <div>
            <div class="item-title">{{lesson.title}}</div>
            {{#isAllCourses}}<div class="item-description">{{inLabel}} {{course.title}}</div>{{/isAllCourses}}
        </div>
    </td>
    <td>{{userCount}}</td>
    <td>{{#statistic.notStarted}} {{statistic.notStarted}} {{/statistic.notStarted}}</td>
    <td>{{#statistic.inProgress}} {{statistic.inProgress}} {{/statistic.inProgress}}</td>
    <td>{{#statistic.success}} {{statistic.success}} {{/statistic.success}}</td>
    <td>{{averageGradePercent}}</td>
</script>

<script type="text/html" id="gradebookUserLessonsCollectionViewTemplate">
    <div class="items-header clearfix js-items-header">
        <div class="s-6 item-info">
            <div>
                <img class="img-circle big" src="{{user.picture}}" alt="{{user.name}}">
            </div>
            <div>
                <div class="item-title">{{user.name}}</div>
                <div class="item-description">{{organizationList}}</div>
            </div>
        </div>
        <div class="s-6 text-right js-grade-button">
        </div>
    </div>
    <table class="val-table js-items-list-table">
        <thead>
        <tr>
            <th>{{nameLabel}}</th>
            <th class="narrow-col">{{statusLabel}}</th>
            <th class="narrow-col">{{autoGradeLabel}}</th>
            <th class="narrow-col">{{manualGradeLabel}}</th>
            <th class="narrow-col"></th>
        </tr>
        </thead>
        <tbody class="js-items-list"></tbody>
    </table>
    <div class="loading-container js-loading-container"></div>
    <div class="toggle-container hidden js-show-more">
        <span class="val-icon-arrow-down val-icon-right"></span>
        <span> {{showMoreLabel}}</span>
    </div>
</script>

<script type="text/html" id="gradebookUserLessonItemViewTemplate">
    <td class="cursor-pointer item-info js-expand-results">
        <div>
            <div class="image img-rect"
                 {{#lesson.logo}}
                 style="background-image: url('/{{imageApi}}{{lesson.id}}/logo?courseId={{courseId}}')"
                 {{/lesson.logo}}
            ></div>
        </div>
        <div>
            <div class="item-title">{{lesson.title}}</div>
            {{#isAllCourses}}<div class="item-description">{{inLabel}} {{course.title}}</div>{{/isAllCourses}}
        </div>
    </td>
    <td class="narrow-col">{{lessonStatus}}</td>
    <td>{{autoGradePercent}}</td>
    <td class="js-grade-button"></td>
    <td class="text-center"> <span class="expand-icon val-icon-arrow-down js-expand-results"></span> </td>
</script>

<script type="text/html" id="gradebookLessonUsersCollectionViewTemplate">
    <div class="items-header clearfix">
        <div class="s-6 item-info">
            <div>
                <div class="image img-rect big"
                     {{#lesson.logo}}
                     style="background-image: url('/{{imageApi}}{{lesson.id}}/logo?courseId={{courseId}}')"
                     {{/lesson.logo}}
                ></div>
            </div>
            <div>
                <div class="item-title">{{lesson.title}}</div>
                {{#isAllCourses}}<div class="item-description">{{inLabel}} {{course.title}}</div>{{/isAllCourses}}
            </div>
        </div>
        <div class="s-6 text-right">
            <div class="statistic-item">
                <div>{{averageGradePercent}}</div>
                {{averageGradeLabel}}
            </div>
        </div>
    </div>
    <table class="val-table js-items-list-table">
        <thead>
        <tr>
            <th>{{usersLabel}}</th>
            <th class="narrow-col">{{statusLabel}}</th>
            <th class="narrow-col">{{autoGradeLabel}}</th>
            <th class="narrow-col">{{manualGradeLabel}}</th>
            <th class="narrow-col"></th>
        </tr>
        </thead>
        <tbody class="js-items-list"></tbody>
    </table>
    <div class="loading-container js-loading-container"></div>
    <div class="toggle-container hidden js-show-more">
        <span class="val-icon-arrow-down val-icon-right"></span>
        <span> {{showMoreLabel}}</span>
    </div>
</script>

<script type="text/html" id="gradebookLessonUserItemViewTemplate">
    <td class="cursor-pointer item-info js-expand-results">
        <div>
            <img class="img-circle" src="{{user.picture}}" alt="{{user.name}}">
        </div>
        <div>
            <div class="item-title">{{user.name}}</div>
            <div class="item-description">{{organizationList}}</div>
        </div>
    </td>
    <td class="narrow-col">{{lessonStatus}}</td>
    <td>{{autoGradePercent}}</td>
    <td class="js-grade-button"></td>
    <td class="text-center"> <span class="expand-icon val-icon-arrow-down js-expand-results"></span> </td>
</script>

<script type="text/html" id="gradebookAttemptsCollectionViewTemplate">
    <td colspan="5">
        <div>
            <span class="collapse-icon val-icon-arrow-up js-collapse-results"></span>
            <table class="js-attempts-list">
                <tr class="lesson-header">
                    <td class="narrow-col item-info">
                        {{#isUser}}
                        <div>
                            <img class="img-circle" src="{{user.picture}}" alt="{{user.name}}">
                        </div>
                        {{/isUser}}
                        {{#isLesson}}
                        <div>
                            <div class="image img-rect big"
                             {{#lesson.logo}}
                             style="background-image: url('/{{imageApi}}{{lesson.id}}/logo?courseId={{courseId}}')"
                             {{/lesson.logo}}
                            ></div>
                        </div>
                        {{/isLesson}}
                    </td>
                    <td class="item-info">
                        {{#isUser}}
                        <div class="item-title">{{user.name}}</div>
                        <div class="item-description">{{lesson.title}}</div>
                        {{/isUser}}
                        {{#isLesson}}
                        <div class="item-description">{{user.name}}</div>
                        <div class="item-title">{{lesson.title}}</div>
                        {{/isLesson}}
                    </td>
                    <td class="narrow-col">
                        {{lessonStatus}}
                    </td>
                    <td class="narrow-col">
                        <div class="statistic-item">
                            <div class="js-items-total"></div>
                            {{attemptsLabel}}
                        </div>
                    </td>
                    {{#autoGradePercent}}
                    <td class="narrow-col">
                        <div class="statistic-item">
                            <div>{{autoGradePercent}}</div>
                            {{autoGradeLabel}}
                        </div>
                    </td>
                    {{/autoGradePercent}}
                    <td class="narrow-col">
                    {{#canViewAll}}
                        <div class="js-grade-button"></div>
                    {{/canViewAll}}

                    {{#teacherGradePercentForUser}}
                    <div class="statistic-item">
                        <div>{{teacherGradePercentForUser}}</div>
                        {{manualGradeLabel}}
                    </div>
                    {{/teacherGradePercentForUser}}

                    </td>
                </tr>
                {{#lessonFeedbackForUser}}
                <tr class="attempt">
                    <td></td>
                    <td colspan="5">
                        <div class="block-title block-footer">{{lessonFeedbackLabel}}</div>
                        <div>&#8220;{{lessonFeedbackForUser}}&#8221;</div>
                    </td>
                </tr>
                {{/lessonFeedbackForUser}}
            </table>

            <div class="loading-container hidden js-loading-container"></div>
            <div class="toggle-container hidden js-show-more">
                <span class="val-icon-arrow-down val-icon-right"></span>
                <span> {{showMoreLabel}}</span>
            </div>
        </div>
    </td>
</script>

<script type="text/html" id="gradebookStatementItemViewTemplate">
    <td class="text-center checkmark-col">
    {{#isAttempt}} <div class="block-title"> #{{attemptIndex}} </div> {{/isAttempt}}
    {{^isAttempt}}
        {{#isEssay}}<div class="val-rounded-div inprogress filled">!</div>{{/isEssay}}
        {{^isEssay}}
            {{#success}}<span class="val-rounded-icon val-icon-checkmark success"></span>{{/success}}
            {{^success}}<span class="val-rounded-icon val-icon-exit failed"></span>{{/success}}
        {{/isEssay}}
    {{/isAttempt}}
    </td>
    <td colspan="4">
        <div>
            <span class="block-title">{{{statementTitle}}}</span>
            {{#attemptDuration}}
            <span class="block-footer"> {{takenTimeLabel}} {{attemptDuration}} {{secondsLabel}} </span>
            {{/attemptDuration}}
        </div>

        {{#isAnswer}}
        {{#success}}
        <div>{{correctlyAnsweredLabel}}: {{{userResponse}}}</div>
        {{/success}}
        {{^success}}
        <div>{{answeredLabel}}: {{{userResponse}}}</div>
            {{^isEssay}}
            <div class="correct-answer-block">
                <div class="correct-answer-label">{{correctAnswerLabel}}</div>
                {{{correctAnswer}}}
            </div>
            {{/isEssay}}
        {{/success}}
        {{/isAnswer}}

        <div class="attempt-comments collapsed js-statement-comments"></div>
        <div class="hidden js-new-comment new-comment">
            <div>
                <img class="img-circle small" src="{{currentUser.picture}}" alt="{{currentUser.name}}">
            </div>
            <div>
                <input class="js-my-comment-field shift-left" type="text" placeholder="{{writeCommentLabel}}">
                <div class="text-right">
                    <button class="button medium primary js-send-comment" style="display: none;"> {{sendLabel}} </button>
                </div>
            </div>
        </div>
        <div class="block-footer"> {{formattedDate}}, {{formattedTime}} •
            <span class="cursor-pointer js-show-comments">
                {{#commentsCount}}
                {{commentsCount}} {{commentsLabel}}
                {{/commentsCount}}
                {{^commentsCount}}
                {{addCommentLabel}}
                {{/commentsCount}}
            </span>
            <span class="cursor-pointer hidden js-hide-comments">{{hideCommentsLabel}}</span>
        </div>
    </td>
    <td class="text-right narrow-col">
        {{#attemptScore}}
        <button class="button medium neutral grade" disabled> {{attemptScore}} </button>
        {{/attemptScore}}
    </td>
</script>

<script type="text/html" id="gradebookCommentsItemViewTemplate">
        <div>
            <img class="img-circle small" src="{{user.picture}}" alt="{{user.name}}">
        </div>
        <div>
            <div>
                <span class="block-title">{{user.name}}</span>
                <span class="item-description">{{formattedDate}}, {{formattedTime}}</span>
            </div>
            <div>{{userResponse}}</div>
        </div>
</script>

<script type="text/html" id="gradebookSetGradePopoverButtonTemplate">
    <button class="button medium neutral js-popover-button">
      {{buttonText}}
    </button>
</script>

<script type="text/html" id="gradebookSetGradePopoverTemplate">
    <div class="popover grade-popover"><div class="arrow"></div><div class="js-popover-content">
        <div class="grade-region clearfix {{#scoreLimit}} with-limit {{/scoreLimit}}">
            {{#scoreLimit}}
            <div class="score-region">
                <input type="text" class="js-grade-input">
            </div>
            <div class="limit-region">
                {{passingScoreLabel}}&nbsp;{{scoreLimit}}
            </div>
            {{/scoreLimit}}
            {{^scoreLimit}}
            <input type="text" class="js-grade-input">
            {{/scoreLimit}}
        </div>
        <div class="feedback-region">
            <textarea class="js-grade-comment" rows="3" placeholder="{{placeholderText}}">{{comment}}</textarea>
            <div>
                <button class="button medium primary js-submit-button" disabled="disabled">{{submitButtonText}}</button>
                <button class="button medium simple js-cancel-button">{{cancelButtonText}}</button>
            </div>
        </div>
    </div>
    </div>
</script>

<script type="text/html" id="gradebookGradingCollectionViewTemplate">
    <h3> <span class="js-items-total"></span> {{inLabel}} {{courseName}} {{gradingQueueLabel}}</h3>
    <table class="val-table js-items-list-table">
        <thead>
        <tr>
            <th>{{usersLabel}}</th>
            <th class="narrow-col">{{autoGradeLabel}}</th>
            <th class="narrow-col">{{manualGradeLabel}}</th>
            <th class="narrow-col"></th>
        </tr>
        </thead>
        <tbody class="js-items-list"></tbody>
    </table>
    <div class="loading-container js-loading-container"></div>
    <div class="toggle-container hidden js-show-more">
        <span class="val-icon-arrow-down val-icon-right"></span>
        <span> {{showMoreLabel}}</span>
    </div>
</script>

<script type="text/html" id="gradebookGradingItemViewTemplate">
    <td class="cursor-pointer item-info js-expand-results">
        <div>
            <img class="img-circle" src="{{user.picture}}" alt="{{user.name}}">
        </div>
        <div>
            <div class="item-title">
                {{user.name}}
                <span class="title-separator">{{completedLessonLabel}}</span>
                {{lesson.title}}
            </div>
            <div class="item-description">
                {{formattedDate}}, {{formattedTime}}
                {{#isAllCourses}} • {{inLabel}} {{course.title}} {{/isAllCourses}}
            </div>
        </div>
    </td>
    <td>{{autoGradePercent}}</td>
    <td class="js-grade-button"></td>
    <td class="text-center"> <span class="expand-icon val-icon-arrow-down js-expand-results"></span> </td>
</script>

<script type="text/html" id="gradebookLastGradingCollectionViewTemplate">
    <table class="val-table js-items-list-table">
        <thead>
        <tr>
            <th class="last-list-header">{{lastInGradingLabel}} <span class="val-icon val-icon-arrow-right"></span></th>
            <th class="narrow-col">{{autoGradeLabel}}</th>
            <th class="narrow-col">{{manualGradeLabel}}</th>
        </tr>
        </thead>
        <tbody class="js-items-list"></tbody>
    </table>
</script>

<script type="text/html" id="gradebookLastGradingItemViewTemplate">
    <td class="item-info">
        <div>
            <img class="img-circle small" src="{{user.picture}}" alt="{{user.name}}">
        </div>
        <div>
            <div class="item-title">
                {{user.name}}
                <span class="title-separator">{{completedLessonLabel}}</span>
                {{lesson.title}}
            </div>
        </div>
    </td>
    <td>{{autoGradePercent}}</td>
    <td class="js-grade-button"></td>
</script>

<script type="text/html" id="gradebookCourseStatisticViewTemplate">
    <table class="val-table js-items-list-table">
        <thead>
        <tr>
            <th>{{coursesLabel}}</th>
            <th class="narrow-col">{{usersCompleteLabel}}</th>
        </tr>
        </thead>
        <tbody class="js-items-list"></tbody>
    </table>
</script>

<script type="text/html" id="gradebookCourseStatisticItemViewViewTemplate">
    <td>
        <div class="item-title">{{course.title}}</div>
    </td>
    <td>{{statistic.success}} / {{statistic.total}}</td>
</script>

<script type="text/html" id="gradebookAssignmentCollectionViewTemplate">
    <h3> <span class="js-items-total"></span> {{assignmentsListHeaderLabel}} {{courseName}}</h3>
    <table class="val-table js-items-list-table">
        <thead>
        <tr>
            <th>{{nameLabel}}</th>
            <th class="narrow-col">{{deadlineLabel}}</th>
            <th class="narrow-col">{{usersCompleteLabel}}</th>
        </tr>
        </thead>
        <tbody class="js-items-list"></tbody>
    </table>
    <div class="loading-container js-loading-container"></div>
    <div class="toggle-container hidden js-show-more">
        <span class="val-icon-arrow-down val-icon-right"></span>
        <span> {{showMoreLabel}}</span>
    </div>
</script>

<script type="text/html" id="gradebookAssignmentItemViewTemplate">
    <td class="cursor-pointer item-info js-assignment-name">
        <div>
            <div class="item-title">{{title}}</div>
            {{#isAllCourses}}<div class="item-description">{{inLabel}} {{course.title}}</div>{{/isAllCourses}}
        </div>
    </td>
    <td class="narrow-col">{{deadlineFormatted}}</td>
    <td>{{completedCount}} / {{submittedCount}}</td>
</script>

<script type="text/html" id="gradebookAssignmentUsersCollectionViewTemplate">
    <div class="items-header clearfix">
        <div class="item-info">
            <div class="item-title">{{title}}</div>
            <div class="item-description">
                {{#isAllCourses}}{{inLabel}} {{course.title}}.{{/isAllCourses}}
                {{#deadlineFormatted}} {{deadlineLabel}} {{deadlineFormatted}} {{/deadlineFormatted}}
            </div>
        </div>
    </div>
    <table class="val-table js-items-list-table">
        <thead>
        <tr>
            <th>{{usersLabel}}</th>
            <th class="narrow-col">{{submissionDateLabel}}</th>
            <th class="narrow-col">{{statusLabel}}</th>
            <th class="narrow-col">{{gradeLabel}}</th>
        </tr>
        </thead>
        <tbody class="js-items-list"></tbody>
    </table>
    <div class="loading-container js-loading-container"></div>
    <div class="toggle-container hidden js-show-more">
        <span class="val-icon-arrow-down val-icon-right"></span>
        <span>{{showMoreLabel}}</span>
    </div>
</script>

<script type="text/html" id="gradebookAssignmentUserItemViewTemplate">
    <td class="item-info">
        <div>
            <img class="img-circle" src="{{userInfo.picture}}" alt="{{userInfo.name}}">
        </div>
        <div>
            <div class="item-title">{{userInfo.name}}</div>
            <div class="item-description">{{organizationList}}</div>
        </div>
    </td>
    <td class="narrow-col">{{dateFormatted}}</td>
    <td class="narrow-col">{{statusText}}</td>
    <td>{{#submission.grade}}{{submission.grade}}%{{/submission.grade}}</td>
</script>

<!-- gradebook for user without view all permission -->

<script type="text/html" id="gradebookUserLayoutViewTemplate">
    <div class="clearfix tabs-header">
        <div class="s-2 js-courses-dropdown">
            &nbsp;
        </div>
        <div class="s-8">
            <ul class="nav nav-tabs" id="gradebookTabs">
                <li class="active"> <a href="#courseOverview" data-toggle="tab"> {{overviewLabel}} </a> </li>
                <li> <a href="#courseLessons" data-toggle="tab"> {{lessonsLabel}} </a> </li>
                {{#assignmentDeployed}}
                <li> <a href="#courseAssignments" data-toggle="tab"> {{assignmentsLabel}} </a> </li>
                {{/assignmentDeployed}}
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div id="courseOverview" data-toggle="tab" class="tab-pane active"></div>
        <div id="courseLessons" data-toggle="tab" class="tab-pane"></div>
        {{#assignmentDeployed}}
        <div id="courseAssignments" data-toggle="tab" class="tab-pane"></div>
        {{/assignmentDeployed}}
    </div>
</script>

<script type="text/html" id="gradebookUserOverviewViewTemplate">
    {{#id}} <div class="course-title">{{title}}</div> {{/id}}
    <div class="js-statistic"></div>
    <div class="js-courses-list"></div>
    <div class="js-last-activity last-grading-list"></div>
</script>

<script type="text/html" id="gradebookUserCourseStatisticViewTemplate">
    <table class="val-table js-items-list-table">
        <thead>
        <tr>
            <th>{{coursesLabel}}</th>
            <th class="narrow-col">{{lessonsCompleteLabel}}</th>
            <th class="narrow-col">{{statusLabel}}</th>
            <th class="narrow-col">{{totalGradeLabel}}</th>
        </tr>
        </thead>
        <tbody class="js-items-list"></tbody>
    </table>
</script>

<script type="text/html" id="gradebookUserCourseStatisticItemViewViewTemplate">
    <td>
        <div class="item-title">{{course.title}}</div>
    </td>
    <td>{{lessons.success}} / {{lessons.total}}</td>
    <td class="narrow-col">{{courseStatus}}</td>
    <td>{{teacherGradePercent}}</td>
</script>

<script type="text/html" id="gradebookOverviewUserStatisticViewTemplate">
    <div class="overview-statistic">
        <div class="overview-item">
            <div class="number success">{{lessons.success}}</div>
            <div >
                <div>{{lessonsLabel}}</div>
                <div>{{completedLabel}}</div>
            </div>
        </div>
        <div class="overview-item">
            <div class="number inprogress">{{lessons.inProgress}}</div>
            <div>
                <div>{{lessonsLabel}}</div>
                <div>{{inProgressLabel}}</div>
            </div>
        </div>
        <div class="overview-item">
            <div class="number failed">{{lessons.notStarted}}</div>
            <div>
                <div>{{lessonsLabel}}</div>
                <div>{{notStartedLabel}}</div>
            </div>
        </div>
        {{#teacherGradePercent}}
        <div class="overview-item shift-right">
            <div class="number">{{teacherGradePercent}}</div>
            <div>
                <div>{{totalLabel}}</div>
                <div>{{gradeLabel}}</div>
            </div>
        </div>
        {{/teacherGradePercent}}
    </div>
    {{#courseFeedback}}
    <div class="overview-feedback">
        <div class="feedback-label">{{courseFeedbackLabel}}</div>
        <div>&#8220;{{courseFeedback}}&#8221;</div>
    </div>
    {{/courseFeedback}}
</script>

<script type="text/html" id="gradebookLastActivityCollectionViewTemplate">
    <table class="val-table js-items-list-table">
        <thead>
        <tr>
            <th class="last-list-header">{{lastActivityLabel}} <span class="val-icon val-icon-arrow-right"></span></th>
            <th class="narrow-col">{{statusLabel}}</th>
            <th class="narrow-col">{{autoGradeLabel}}</th>
            <th class="narrow-col">{{manualGradeLabel}}</th>
        </tr>
        </thead>
        <tbody class="js-items-list"></tbody>
    </table>
</script>

<script type="text/html" id="gradebookLastActivityItemViewTemplate">
    <td class="item-info">
        <div>
            <div class="image img-rect small"
                 {{#lesson.logo}}
                 style="background-image: url('/{{imageApi}}{{lesson.id}}/logo?courseId={{courseId}}')"
                 {{/lesson.logo}}
            ></div>
        </div>
        <div>
            <div class="item-title">{{lesson.title}}</div>
        </div>
    </td>
    <td class="narrow-col">{{lessonStatus}}</td>
    <td>{{autoGradePercent}}</td>
    <td>{{teacherGradePercent}}</td>
</script>

<script type="text/html" id="gradebookCurrentUserLessonsCollectionViewTemplate">
    <h3> <span class="js-items-total"></span> {{lessonsListHeaderLabel}} {{title}}</h3>
    <table class="val-table js-items-list-table">
        <thead>
        <tr>
            <th>{{nameLabel}}</th>
            <th class="narrow-col">{{statusLabel}}</th>
            <th class="narrow-col">{{autoGradeLabel}}</th>
            <th class="narrow-col">{{manualGradeLabel}}</th>
            <th class="narrow-col"></th>
        </tr>
        </thead>
        <tbody class="js-items-list"></tbody>
    </table>
    <div class="loading-container js-loading-container"></div>
    <div class="toggle-container hidden js-show-more">
        <span class="val-icon-arrow-down val-icon-right"></span>
        <span> {{showMoreLabel}}</span>
    </div>
</script>

<script type="text/html" id="gradebookCurrentUserLessonItemViewTemplate">
    <td class="cursor-pointer item-info js-expand-results">
        <div>
            <div class="image img-rect"
                 {{#lesson.logo}}
                 style="background-image: url('/{{imageApi}}{{lesson.id}}/logo?courseId={{courseId}}')"
                 {{/lesson.logo}}
            ></div>
        </div>
        <div>
            <div class="item-title">{{lesson.title}}</div>
            {{#isAllCourses}}<div class="item-description">{{inLabel}} {{course.title}}</div>{{/isAllCourses}}
        </div>
    </td>
    <td class="narrow-col">{{lessonStatus}}</td>
    <td>{{autoGradePercent}}</td>
    <td>{{teacherGradePercent}}</td>
    <td class="text-center"> <span class="expand-icon val-icon-arrow-down js-expand-results"></span> </td>
</script>

<script type="text/html" id="gradebookCurrentUserAssignmentsCollectionViewTemplate">
    <h3> <span class="js-items-total"></span> {{assignmentsListHeaderLabel}} {{courseName}}</h3>
    <table class="val-table js-items-list-table">
        <thead>
        <tr>
            <th>{{nameLabel}}</th>
            <th class="narrow-col">{{deadlineLabel}}</th>
            <th class="narrow-col">{{submissionDateLabel}}</th>
            <th class="narrow-col">{{statusLabel}}</th>
            <th class="narrow-col">{{gradeLabel}}</th>
        </tr>
        </thead>
        <tbody class="js-items-list"></tbody>
    </table>
    <div class="loading-container js-loading-container"></div>
    <div class="toggle-container hidden js-show-more">
        <span class="val-icon-arrow-down val-icon-right"></span>
        <span> {{showMoreLabel}}</span>
    </div>
</script>

<script type="text/html" id="gradebookCurrentUserAssignmentItemViewTemplate">
    <td class="item-info">
        <div>
            <div class="item-title">{{title}}</div>
            {{#isAllCourses}}<div class="item-description">{{inLabel}} {{course.title}}</div>{{/isAllCourses}}
        </div>
    </td>
    <td class="narrow-col">{{deadlineFormatted}}</td>
    <td class="narrow-col">{{dateFormatted}}</td>
    <td class="narrow-col">{{statusText}}</td>
    <td>{{#submission.grade}}{{submission.grade}}%{{/submission.grade}}</td>
</script>