<script type="text/template" id="learningPathsLayoutTemplate">
    <div class="js-list-view list">
        <div class="div-table no-content-table js-no-learning-path hidden">
            <div class="div-col div-col-center">{{noLearningPathsLabel}}</div>
        </div>
    </div>
    <div class="toggle-container text-center hidden js-show-more">
        <span class="val-icon-arrow-down val-icon-right"></span> {{showMoreLabel}}
    </div>
</script>

<script type="text/template" id="learningPathItemViewTemplate">
    <table class="val-table">
        <tr>
            <td class="narrow-col">
                <div class="certificate image img-square"
                     {{#fullLogoUrl}}
                     style="background-image: url('{{fullLogoUrl}}')"
                     {{/fullLogoUrl}}>
                </div>
            </td>
            <td>
                <div class="tile">
                    <div class="tile-content top-corner-status">
                        <ul>
                            <li class="title"><a href="{{url}}">{{title}}</a></li>
                            <li class="description">{{description}}</li>
                        </ul>
                        {{#isFailed}}
                        <div class="status">
                            <span class="val-label failed"> {{failedLabel}} </span>
                        </div>
                        {{/isFailed}}

                        <div class="val-progress-bar wide">
                            <span class="val-percentage"> {{progressPercent}} {{progressLabel}} </span>
                            <div class="val-progress success"> <span style="width: {{progressPercent}};"></span> </div>
                        </div>

                        <div class="val-list-table">
                            <div class="val-list-table-body {{^isSingleLearningPath}} hidden {{/isSingleLearningPath}} js-goals-list"></div>
                        </div>
                    </div>

                    <div class="toggle-container js-toggle-goals">
                        <span class="js-arrow-icon val-icon-arrow-down val-icon-right"></span>
                        <span class="js-show-label"> {{showGoalsLabel}} </span>
                        <span class="hidden js-hide-label"> {{hideGoalsLabel}} </span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</script>

<script type="text/template" id="learningPathsGoalItemViewTemplate">
    <div class="clearfix list-table-row">
    <span class="s-12 goal-title {{#isGroup}}group{{/isGroup}}">
        <div class="ellipsis">
            {{#isInProgress}}
            <span class="val-rounded-div"></span>
            {{/isInProgress}}
            {{#isSucceed}}
            <span class="val-rounded-icon val-icon-checkmark success"></span>
            {{/isSucceed}}
            {{#isFailed}}
            <span class="val-rounded-icon val-icon-exit failed"></span>
            {{/isFailed}}

            {{#isSubjectDeleted}} <span class="valamis-info-label"> {{deletedItemLabel}} </span> {{/isSubjectDeleted}}
            {{^isSubjectDeleted}}
                {{#isGroup}}
                    {{title}}
                {{/isGroup}}
                {{^isGroup}}
                    {{#isActivity}}{{doLabel}} {{count}} {{/isActivity}}
                    <span class="js-title">{{title}}</span>
                {{/isGroup}}
            {{/isSubjectDeleted}}
        </div>
    </span>
    </div>
    {{#isGroup}}
    <div class="group-children js-group-children"></div>
    {{/isGroup}}
</script>