<script type="text/template" id="lessonViewerSettingsListTemplate">

    <div class="val-row filters-row category-filter">
        <div class="div-col name-col shift-left">{{categoryLabel}}</div>
        <div class="div-col content-col selectize-dropdown-style shift-left">
            <input type="text" class="js-player-categories val-tags demo-default selectized" title="Player categories"
                   tabindex="-1" style="display: none;"/>
        </div>

    <div class="filter-element shift-right">
        <button class="button medium primary shift-right js-add-lesson"> {{addLessonsFromOtherSiteLabel}} </button>
    </div>
    </div>
    <div class="val-table-wrapper">
        <table class="val-table js-list-view">
            <tr>
                <th class="text-center narrow-col"> {{packageListIDHeaderLabel}} </th>
                <th style="width: 30%;"> {{packageListTitleHeaderLabel}} </th>
                <th> {{packageListSummaryHeaderLabel}} </th>
                <th class="text-center narrow-col"> {{hideLabel}} </th>
                <th class="text-center narrow-col"> {{packageListIsDefaultHeaderLabel}} </th>
                <th class="text-right narrow-col"> </th>
            </tr>
        </table>
    </div>
</script>

<script type="text/template" id="lessonViewerSettingsListItemTemplate">
    <td class="text-center"> {{id}} </td>
    <td class="title" style="width: 30%;"> {{title}} </td>
    <td> {{description}} </td>
    <td class="text-center">
        <input type="checkbox" id="lesson_v_{{id}}" class="val-checkbox js-is-hidden" {{^isVisible}} checked {{/isVisible}}>
        <label class="checkbox-label" for="lesson_v_{{id}}"></label>
    </td>
    <td class="text-center">
        <input type="checkbox" id="lesson_{{id}}" class="val-checkbox js-is-default" {{#isDefault}} checked {{/isDefault}}>
        <label class="checkbox-label" for="lesson_{{id}}"></label>
    </td>
    <td class="text-center">
        {{#isExternal}}
        <button class="button medium danger simple no-text js-delete-item">
            <span class="val-icon-trash"></span> Delete
        </button>
        {{/isExternal}}
    </td>
</script>