<script type="text/template" id="lessonsLayoutTemplate">
    <div class="val-tabs">
        <ul class="nav nav-tabs" id="myLessonsTabs">
            <li class="active"><a href="#unfinishedLessons" data-toggle="tab">{{unfinishedLessonsLabel}}</a></li>
            <li><a href="#completedLessons" data-toggle="tab">{{completedLessonsLabel}}</a></li>
        </ul>

        <div class="tab-content" style="position: relative">
            <div id="unfinishedLessons" class="tab-pane active"> </div>
            <div id="completedLessons" class="tab-pane"> </div>
        </div>
    </div>
</script>

<script type="text/template" id="lessonsCollectionViewTemplate">
    <div class="js-list-view list">
        <div class="div-table no-content-table js-no-lessons">
            {{#completedLessons}}
            <div class="div-col div-col-center">{{noCompletedLessonsLabel}}</div>
            {{/completedLessons}}
            {{^completedLessons}}
            <div class="div-col div-col-center">{{noLessonsLabel}}</div>
            {{/completedLessons}}
        </div>
    </div>
    <div class="toggle-container hidden js-show-more">
        <span class="val-icon-arrow-down val-icon-right"></span>
        <span> {{showMoreLessonsLabel}} </span>
    </div>
</script>

<script type="text/template" id="lessonItemViewTemplate">
    <div class="tile-content">
        <ul>
            <li class="title"><a href="{{url}}">{{title}}</a></li>
            <li class=""> {{inLabel}}
                {{#course.url}} <a href="{{course.url}}" target="_blank" class="subtitle"> {{/course.url}}
                {{^course.url}} <span class="subtitle"> {{/course.url}}
                    {{course.title}}
                {{^course.url}} </span> {{/course.url}}
                {{#course.url}} </a> {{/course.url}}
            </li>
            {{#description}}
            <li class="description">{{description}}</li>
            {{/description}}
            <li>
                {{^completedLessons}}
                <span class="val-label {{statusClass}}"> {{lessonItemStatusLabel}} </span>
                {{/completedLessons}}

                <div class="val-progress-bar">
                    <div class="val-progress {{colorClass}}">
                        <span style="width: {{lessonGrade}};"
                            {{#isSuccess}}
                                class="full-progress-bar"
                            {{/isSuccess}}
                        ></span>
                    </div>
                    <span class="val-percentage"> {{lessonGrade}} </span>
                </div>
            </li>
        </ul>
    </div>
</script>
