<script type="text/template" id="valamisStudySummaryLayoutTemplate">
    <div class="s-12 m-12 l-7">

        <div class="val-avatar-box">
            <div class="image">
                <a href="{{userModel.userPageUrl}}">
                    <img src="{{userModel.userPicture}}" alt="{{userModel.userName}}">
                </a>
            </div>
            <div class="text">
                <div class="text-header">
                    {{welcomeText}}, {{userModel.userName}}!
                </div>
                {{#welcomeDescriptionText}}
                <div class="text-content">
                    {{welcomeDescriptionText}}
                </div>
                {{/welcomeDescriptionText}}
            </div>
            {{^VSS_HIDE_STATISTIC}}
            <div class="button-stat-toggle-cont">
                <button class="button big primary js-stat-toggle" data-text="{{showStatisticLabel}}"
                        data-toggle-text="{{hideStatisticLabel}}">{{showStatisticLabel}}</button>
            </div>
            {{/VSS_HIDE_STATISTIC}}
        </div>

        {{^VSS_HIDE_STATISTIC}}
        <div class="val-row val-statistic l-only js-statistic">
            <div class="s-6 m-3 l-3 statistic-item">
                <div class="value js-lesson-completed">&nbsp;</div>
                <div class="label">{{lessonsCompletedLabel}}</div>
            </div>
            <div class="s-6 m-3 l-3 statistic-item">
                <div class="value js-certificates-achieved">&nbsp;</div>
                <div class="label">{{certificatesAchievedLabel}}</div>
            </div>
            <div class="s-6 m-3 l-3 statistic-item">
                <div class="value js-learning-goals-achieved">&nbsp;</div>
                <div class="label">{{goalsAchievedLabel}}</div>
            </div>
            <div class="s-6 m-3 l-3 statistic-item">
                <div class="value js-certificates-in-progress">&nbsp;</div>
                <div class="label">{{certificatesInProgressLabel}}</div>
            </div>
        </div>
        {{/VSS_HIDE_STATISTIC}}

    </div>

    {{^VSS_HIDE_STATISTIC}}
    <div class="s-12 m-12 l-5">
        <div class="val-row val-statistic l-only js-statistic">
            <div class="chart-header">
                <strong>{{summaryStudiesLabel}}</strong>
                <a href="#" class="val-link-help valamis-tooltip js-tooltip"
                   data-placement="bottom" title="{{summaryStudiesTooltipLabel}}">?</a>
            </div>
            <div class="chart-container js-chart-container"></div>
        </div>
    </div>
    {{/VSS_HIDE_STATISTIC}}

</script>